body {
  margin: auto;
  font-family: georgia;
}

h2 {
  color: yellow;
}

header{
  background-color: black;
  color:white;
  padding: 1px;
  text-align: center;
}

header ul {
  list-style-type: none;
  text-align: right;
  margin-right: 40px;
  font-size: 18px;
  text-align: center;
}

header ul li{
  display: inline;
  margin-right: 15px;
  font-weight: bold;

}

header h1{
  font-family: 'Tangerine', cursive;
  font-size: 40px;
}

header img {
  width: 40px;
  height: 40px;
}

.social-icons {
  text-align: right;
  position: absolute;
    top: 0px;
    right: 0px;

}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
    color: #37a5a3;
}

main{

}

main img {
  max-width: 100%;
  max-height: 1000px;
  background-size: cover;
}

.portfolio{
  padding: 0px 0px 35px 0px;
  max-width: 95%;
  margin: auto;
}

.portfolio .content {

}

.portfolio .content img{
  max-width: 490px;
  margin-left: 10px;
  border: 4px solid #C8C8C8 ;
  border-radius: 6px;
}

.about {
  margin: auto;
  padding: 15px 0 25px 0;
}


.content{
  margin: 0 90px 0 90px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.title a {
  text-decoration: none;
}

footer{
  background: black;
  margin: auto;
  color: white;
  text-align: center;
  padding: 15px 0px 15px 0px;
}

footer li{
    display: inline;
    list-style-type: none;
    margin-right: 40px;
    font-size: 18px;
}
