body {
  margin: auto;
  font-family: georgia;
}


header{
  background-color: black;
  color:white;
  padding: 1px;
  text-align: center;
}

header h1{
  font-family: 'Tangerine', cursive;
  font-size: 6em;
}
header ul {
  list-style-type: none;
  text-align: right;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
}

header ul li {
  display: inline;

}

header li {
  margin-right: 15px;
}

header img {
  width: 40px;
  height: 40px;
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
    color: #37a5a3;
}

/*ABOUT ME*/
.spacer {
  padding-bottom: 20px;
}

.about-me  {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("images/IMG_1242.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.about {
  margin: auto;
  padding: 15px 0 25px 0;
  color: white;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  width: 90%;
  border-radius: 5px;
}

.about h2 {
  padding: 0;
  margin: 0;
}

.content{
  margin: 0 2% 0 2%;
  font-size: 1.2em;
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-family: 'Tangerine', cursive;
  font-size: 5em;
}

.title a {
  text-decoration: none;
}
/*PORTFOLIO*/

.portfolio{
  padding: 0px 0px 35px 0px;
  max-width: 95%;
  margin: auto;
}


.portfolio .content img{
  width: 100%;
  margin-left: 10px;
  border: 4px solid #C8C8C8 ;
  border-radius: 6px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-content h2 {
  text-align: center;
  color: #086788;
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  margin: 10px 0 5px 0;
}

.text-content p {
  padding: 0 5% 0 5%;
}

ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100%;
}
span.text-content {
  background: rgba(0,0,0,1);
  color: white;
  cursor: pointer;
  display: table;
  margin-left: 10px;
  font-size: 1em;
  border-radius: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

ul.img-list li:hover span.text-content {
  margin-left: 10px;
  opacity: 1;
}

#portfolio-features li {
  display: list-item;
  list-style-type: disc;
  margin: 15px;
}

@media only screen and (max-width: 849px) {
    #portfolio-features {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .text-content p {
        display: none;
    }
}

/*FOOTER*/
footer{
  margin: auto;
  text-align: center;
  padding: 0;
  background: black;
  color: white;
  width: 100%;
}

.contact {
  background: black;
}

.contact ul {
  margin: 0;
  padding: 0;
}
.contact ul li{
    display: inline;
    list-style-type: none;
    padding: 0 0 5px 0;
    font-size: 18px;
    background: black;
}

.contact h2 {
  margin-bottom: 0;
}

footer li img {
  width: 75px;
  height: 75px;
}
